#whiteout {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index:50;
	background: #f6f6f6;
}

#whiteout #wplogogray {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -35px;
	width: 100px;
	height: 100px;
	z-index:4;
	background: url("img/wplogogray.png") no-repeat;
	background-size: 70px 70px;
	transform: scale(2,2);
	-ms-transform: scale(2,2); /* IE 9 */
	-webkit-transform: scale(2,2); /* Safari and Chrome */
	-webkit-transition: 0.3s;
	opacity: 0;
}

#whiteout #wplogogray.animate {
	transform: scale(1,1);
	-ms-transform: scale(1,1); /* IE 9 */
	-webkit-transform: scale(1,1); /* Safari and Chrome */
	opacity: 1;
}

a {
	color: #168cde;
}

a:hover {
	color: #e57a23;
}

#wpbody {
	padding: 2.5rem;
	padding-top: 0px;
}

#wpbody .wrap {
	padding-top: 2rem; 
}

#adminmenu {
	position:fixed;
	height:100%;
	z-index:1;
	overflow-y:auto;
	overflow-x:hidden;
}

/*#adminmenu .wp-submenu {
	
	position:static;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 0px !important;
}*/

.wp-not-current-submenu .wp-submenu {
	display: none !important;
}

label, #your-profile label+a {
	font-family: "Open Sans";
	font-weight: 300;
}

textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
	font-family: "Open Sans";
	font-weight: 500;
	padding: 0.6em;
	
	
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;
}

input#blogname {
	font-size: 18px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="url"]:focus, select:focus {
	border: 1px solid #168cde;
}

.form-table th {
	padding-left: 0px;
	padding-top: 16px;
}

div.wrap h2 {
	font-family: "Open Sans";
	font-size: 2.2rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	color: #168cde;
	
}

/*.plugins a.delete:hover, #all-plugins-table .plugins a.delete:hover, #search-plugins-table .plugins a.delete:hover, .submitbox .submitdelete {
	color: #fff;
	height: 30px;
line-height: 28px;
padding: 0 12px 2px;
background-color: #9b2c21;
background-image: -webkit-gradient(linear,left top,left bottom,from(#d14339),to(#9b2c21));
background-image: -webkit-linear-gradient(top,#d14339,#9b2c21);
background-image: -moz-linear-gradient(top,#d14339,#9b2c21);
background-image: -ms-linear-gradient(top,#d14339,#9b2c21);
background-image: -o-linear-gradient(top,#d14339,#9b2c21);
background-image: linear-gradient(to bottom,#d14339,#9b2c21);
border-color: #9b2c21;
border-bottom-color: #7C1414;
-webkit-box-shadow: inset 0 1px 0 rgba(230,120,120,0.5);
box-shadow: inset 0 1px 0 rgba(230,120,120,0.5);
color: #fff;
text-decoration: none;
text-shadow: 0 1px 0 rgba(0,0,0,0.1);
display: inline-block;
text-decoration: none;
font-size: 12px;
line-height: 28px;
height: 30px;
margin: 0;
padding: 0 10px 1px;
cursor: pointer;
border-width: 1px;
border-style: solid;
-webkit-border-radius: 3px;
-webkit-appearance: none;
border-radius: 3px;
white-space: nowrap;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}*/

div.sidebar-name h3, #menu-management .nav-tab, #dashboard_plugins h5, a.rsswidget, #dashboard_right_now td.b, #dashboard-widgets h4, .tool-box .title, #poststuff h3, .metabox-holder h3, .pressthis a, #your-profile legend, .inline-edit-row fieldset span.title, .inline-edit-row fieldset span.checkbox-title, .tablenav .displaying-num, .widefat th, .quicktags, .search {
	font-family: "Open Sans";
	font-size: 0.7rem;
	font-weight: 300;
}

.widget .widget-top, .postbox h3, .stuffbox h3, .widefat thead tr th, .widefat tfoot tr th, h3.dashboard-widget-title, h3.dashboard-widget-title span, h3.dashboard-widget-title small, .sidebar-name, #nav-menu-header, #nav-menu-footer, .menu-item-handle {
	background: #f3f3f3;
	/*border-top: none;*/
}

.widefat tbody th.check-column {
padding: 22px 0 22px;
}

.widefat td, .widefat th {
	/*vertical-align: middle;*/
	font-family: "Open Sans";
	font-weight:300;
}

.posts td  {
	vertical-align: middle;
}

.widefat .post-title a.row-title {
	font-weight: 300;
	font-size: 1rem !important;
}

td.post-title strong, td.plugin-title strong {
	margin-bottom: 0px;
}

td.post-title strong, td.plugin-title strong {
	font-family: "Open Sans";
	font-weight: 300;
}

td.post-title {
	vertical-align: bottom;
}

h3.hndle {
	background: none;
	
}

h3.hndle span {
	font-family: "Open Sans";
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 11px;
	
}

.alternate, .alt { 
	background-color: #fff;
}

.widget, #widget-list .widget-top, .postbox, .menu-item-settings {
	background: #fff;
	border: none;
	margin-bottom: 2rem;
}

.widget.closed, #widget-list .widget-top.closed, .postbox.closed, .menu-item-settings.closed {
	background: #e9e9e9;
	border: none;
	margin-bottom: 1rem;
}

#dashboard-widgets h3 a, .widget .edit-box, #widget-list .widget-top .edit-box, .postbox .edit-box, .menu-item-settings .edit-box {
	font-size: 11px;
	text-transform:capitalize;
	text-decoration: none;
	letter-spacing: 0px;
	line-height: 18px;
}




div.wrap h2 a.add-new-h2 {
	color: #fff;
	background: #168cde;
	text-shadow: none;
}

#adminmenushadow, #adminmenuback {
	background-image: none;
}

#adminmenuback, #adminmenuwrap {
	background-image: none;
	padding-left: 100px;
	
}

#adminmenuwrap {
	opacity: 0;
	
}

#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu {
	width: 200px;
}

#wpcontent, #wpfooter {
	padding-left: 160px;
}

#wpfooter {
	padding-left: 0px;
	margin-left: 380px;
	margin-right: 60px;
	margin-bottom: 30px;
}

#adminmenu a.menu-top {
	border-style: none;
}

#adminmenu li .wp-menu-arrow {
	border-style: none;
	height: 28px;
	right: 70%;
	opacity: 0;
}

#adminmenu .wp-submenu {
	left: 196px;
}

#adminmenu div.wp-menu-name {
	padding: 11px;
}

div.wp-menu-image {
	margin-top: 5px;
	margin-left: 6px;
	margin-right: 4px;
}



#adminmenu a:hover div.wp-menu-name {
	color: #168cde;
}

#adminmenu div.wp-menu-name {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 13px;
	color: #3b3b3b;
}

#adminmenu .wp-menu-open div.wp-menu-name, #adminmenu .current div.wp-menu-name {
	color: #fff;
}

#adminmenu .wp-menu-open a:hover div.wp-menu-name , #adminmenu .current a:hover div.wp-menu-name {
	color: #dadada;
}

#collapse-menu {
	display: none;
}

#adminmenu .wp-menu-arrow div {
	height: 14px;
}

#adminmenu .wp-has-current-submenu ul>li>a, .folded #adminmenu li.menu-top .wp-submenu>li>a {
	padding-left: 38px;
}

#adminmenu .wp-submenu a {
	color: #999;
	font-weight: 300;
	line-height: 24px;
}

#post-body.columns-2 #postbox-container-1 {
	width: 260px;
}

#adminmenu li.wp-menu-separator {
	height: auto;
	background: none;
	border-bottom: none;
}

#adminmenu li.wp-menu-separator h3 {
	padding-left: 1rem;
	margin-top: 2rem;
	font-size: 16px;
	font-family: "Open Sans";
	font-weight:500;
	-webkit-font-smoothing: antialiased;
	color: #168cde;
	margin-bottom: 0px;
}

#adminmenu li.wp-menu-separator p {
	padding-left: 1rem;
	font-family: "Open Sans";
	font-weight:500;
	-webkit-font-smoothing: antialiased;
	color: #727272;
	font-size: 11px;
	margin-bottom: 1rem;
}

nav.cleanNav {
	width: 34px;
	margin:0 auto;
	margin-top: 60px;
}

nav.cleanNav a {
	display:block;
	width: 34px;
	height: 35px;
	margin-bottom: 2.4rem;
	-webkit-transition: 0.3s;
}

.previewButton {
	color: #fff;
	position: absolute;
	bottom: 62px;
	left: 50%;
	margin-left: -15px;
	z-index:4;
	text-decoration: none;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	transform: rotate(-90deg);
transform-origin:0% 0%;
-ms-transform: rotate(-90deg); /* IE 9 */
-ms-transform-origin:0% 0%; /* IE 9 */
-webkit-transform: rotate(-90deg); /* Safari and Chrome */
-webkit-transform-origin:0% 0%; /* Safari and Chrome */
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	
	
	
}

.previewButtonText {
	display: inline-block;
	color: #fff;
	font-family: "Open Sans";
	font-weight:300;
	font-size: 0.9rem;
	
	white-space: nowrap;
	max-width: 160px;
	overflow: hidden;
	
}

.previewFade {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index:5;
	background: -moz-linear-gradient(left, rgba(22,140,222,0) 0%, rgba(22,140,222,1) 95%, rgba(22,140,222,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(22,140,222,0)), color-stop(95%,rgba(22,140,222,1)), color-stop(99%,rgba(22,140,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(22,140,222,0) 0%,rgba(22,140,222,1) 95%,rgba(22,140,222,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(22,140,222,0) 0%,rgba(22,140,222,1) 95%,rgba(22,140,222,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(22,140,222,0) 0%,rgba(22,140,222,1) 95%,rgba(22,140,222,1) 99%); /* IE10+ */
	background: linear-gradient(to right, rgba(22,140,222,0) 0%,rgba(22,140,222,1) 95%,rgba(22,140,222,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00168cde', endColorstr='#168cde',GradientType=1 ); /* IE6-9 */
	width: 50%;
	height: 100%;
	
}

.previewButton:hover {
	color: #fff;
	background: rgba(255,255,255,0.3);
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;
}

.previewButton:hover .previewFade {
	display: none;
	
}

nav.cleanNav a {
	position: relative;
}

/*nav.cleanNav a.active span {
	display:block;
	position: absolute;
	right: -12px;
	top: 50%;
	width: 6px;
	height: 6px;
	
	background: #fff;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}*/

nav.cleanNav .dashboardButton {
		
	background: url("img/cleanadminbuttons_sprite.png") no-repeat;
	background-size: 30px 208px;
	background-position: 0px -30px;
	text-indent: -100000px;
}

nav.cleanNav .dashboardButton:hover {
		
	background: url("img/cleanadminbuttons_sprite.png") no-repeat;
	background-size: 30px 208px;
	background-position: 0px -35px;
	text-indent: -100000px;
	opacity: 0.6;
}


nav.cleanNav .contentButton {
	
	
	background: url("img/cleanadminbuttons_sprite.png") no-repeat;
	background-size: 30px 208px;
	background-position: 0px -68px;
	text-indent: -100000px;
}

nav.cleanNav .contentButton:hover {
		
	background: url("img/cleanadminbuttons_sprite.png") no-repeat;
	background-size: 30px 208px;
	background-position: 0px -73px;
	text-indent: -100000px;
	opacity: 0.6;
}

nav.cleanNav .settingsButton {
	
	
	background: url("img/cleanadminbuttons_sprite.png") no-repeat;
	background-size: 30px 208px;
	background-position: 0px -106px;
	text-indent: -100000px;
}

nav.cleanNav .settingsButton:hover {
	
	
	background: url("img/cleanadminbuttons_sprite.png") no-repeat;
	background-size: 30px 208px;
	background-position: 0px -111px;
	text-indent: -100000px;
	opacity: 0.6;
}

nav.cleanNav .analyticsButton {
	
	
	background: url("img/cleanadminbuttons_sprite.png") no-repeat;
	background-size: 30px 208px;
	background-position: 0px -145px;
	text-indent: -100000px;
}

nav.cleanNav .analyticsButton:hover {
	
	
	background: url("img/cleanadminbuttons_sprite.png") no-repeat;
	background-size: 30px 208px;
	background-position: 0px -151px;
	text-indent: -100000px;
	opacity: 0.6;
}

#adminmenu li.wp-menu-separator h3.dashboard {
	display: block;
	background: url("img/wp_theme_icons_blue.png") no-repeat;
	background-size: 18px 125px;
	background-position: 0px -20px;
	padding-left: 26px;
	margin-left: 14px;
	height: 20px;
	line-height: 20px;
}

#adminmenu li.wp-menu-separator h3.content {
	display: block;
	background: url("img/wp_theme_icons_blue.png") no-repeat;
	background-size: 18px 125px;
	background-position: 0px -42px;
	padding-left: 26px;
	margin-left: 14px;
	height: 20px;
	line-height: 20px;
}

#adminmenu li.wp-menu-separator h3.settings {
	display: block;
	background: url("img/wp_theme_icons_blue.png") no-repeat;
	background-size: 18px 125px;
	background-position: 0px -66px;
	padding-left: 26px;
	margin-left: 14px;
	height: 20px;
	line-height: 20px;
}

.newGlobalMenu {
	color: #fff;
	background: #168cde;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:3;
	width:100px;
	height: 100%;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	/*border-right: 1px solid rgba(255,255,255,0.7);*/
}

.newGlobalMenu .wplogo {
	background: url("img/wplogowhite.png") no-repeat;
	background-size: 38px 38px;
	width: 38px;
	height: 38px;
	margin: 0 auto;
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -20px;
}

#wpbody {
	opacity: 0;
}

#wpcontent #splash {
	position:fixed;
	top: 0px;
	left: 302px;
	right: 0px;
	bottom: 0px;
	background: #fff;
	z-index:1;
}

#wpcontent #splash.settings {
	background: #fff url("img/settingssplash.jpg") no-repeat;
	background-position: 50% 50%; 
}

#wpcontent #splash.content {
	background: #fff url("img/contentsplash.jpg") no-repeat;
	background-position: 50% 50%;
}

/* Screen below native width of 960px ----------- */
@media only screen and (max-width : 900px) {
	#wpcontent, #wpfooter {
		padding-left: 90px;
	}
	
	#wpcontent #splash {
		position:fixed;
		top: 0px;
		left: 133px;
		right: 0px;
		bottom: 0px;
		background: #fff;
		z-index:1;
	}
	
	.auto-fold #wpfooter {
		margin-left: 182px;
		padding-left: 0px;
	}
	
	#adminmenu li.wp-menu-separator p {
		display: none;
	}
	
	#adminmenu li.wp-menu-separator h3.content, #adminmenu li.wp-menu-separator h3.settings, #adminmenu li.wp-menu-separator h3.dashboard, #adminmenu li.wp-menu-separator h3.analytics {
		margin-top: 8px;
		margin-left:8px;
		margin-bottom: 8px;
		text-indent: -10000000px;
	}
	.auto-fold #adminmenu div.wp-menu-image {
		margin-left: 2px;
		margin-top: 0px;
	}
}